# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

###  Some of the popular languages that Data Scientists use are:
   1.Python
   2.SQL
   3.R
   4.JAVA
   5.SCALA

### Some of the commonly used libraries used by Data Scientists include:
   1.Numpy
   2.Ggplot
   3.dplyr
   4.caret

## Exercise 6 - Data Science Tools

Create a markdown cell with a table of Data Science tools.

| Data Science Tools           |
|------------------------------|
| Jupyter Notebook             |
| RStudio                      |
| Apache Zeppelin              |

### Exercise 7 - Arithmetic Expression Examples

Below are a few examples of evaluating arithmetic expressions in Python.

In [13]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
print(result)

17

In [15]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.
- Introduce basic arithmetic operations in Python.
- Demonstrate conversion of units (minutes to hours) using Python.
- Illustrate markdown cell usage for documentation.

## Author

Rajveer Pathak